html {
    font-size: 62.5%;
}

body {
    margin: px;
    
}

.container {
 align-items: center;
 color: #fff;
 display: flex;
 width: 100vw;
 height: 100vh;
 background: hsl(233, 47%, 7%);
 justify-content: center;
}

.card {
    background: hsl(244, 38%, 16%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: repeat(3, 200px);
    max-height: 85vh;
    max-width: 270px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    overflow: hidden;
    opacity: 0.3;
}

#desktop {
    display: none;

}
.header {
    background: hsl(277, 55%, 46%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    min-width: 100%;
    grid-area: 1/1, span 1;
    overflow: hidden;
}

.content, .footer {
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 15px;
}

.footer {
    display: space-between;
    margin-top: 10px;
}
.value {
    margin: 20px;
}

em {
    color:hsl(277, 64%, 61%);
    font-style: normal;
}

h1 {
    font-size: 2.7rem;
    margin-bottom: 0;
    font-family: Lexend+Deca;
}

h2 {
    font-size: 2.0rem;
    margin: 2px;
}

h1, h2 {
    color: hsl(0, 0%, 100%);
}

p {
    margin-top: 5px;
    font-size: 1.1rem;
    font-family: inter;
}

#message {
    color: hsla(0, 0%, 100%, 0.75);
    padding: 10px 20px;
    line-height: 1.8rem;
}

#stat {
    color: hsla(0, 0%, 100%, 0.6);
}

@media screen and (min-width: 1440px) {
p {
    font-size: 1rem;
}

.card {
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: repeat(2, 50%);
        max-height: 300px;
        max-width: 750px;
        text-align: initial;
        padding: 0;
        justify-content: center;
        justify-items: center;
        align-items: center;
        overflow: none;
    }

    .header {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        grid-column: 2 / span 2;
        grid-row: span 2;
        align-items: center;
        justify-items: center;
        max-width: 375px;
        max-height: 100%;
        opacity: 0.5;
        align-content: center;
    }

    img {
        height: 100%;
        max-width: 100%;
    }
    
    #mobile {
        display: none;
    }

    #desktop {
        display: block;
    }

    .content {
        grid-column: 1;
        grid-row: 1;
        min-width: 320px;
        padding-left: 70px;
        margin-top: 70px;
    }

    h1 {
       padding-right: 50px;
    }

    #message {
        padding: 20px 35px 15px 0;
        grid-row: 1;
        grid-column: 1;
        word-spacing: 0.3rem;
    }

    .footer{
        display: flex;
        margin-top: 35px;
        min-width: 300px;
        padding-left: 50px;
        text-align: initial;
    }

    .value {
        margin: auto;
        text-align: initial;
        margin-left: 0;
    }

    .content, .footer {
        padding-right: 50px;
        margin-left: 30px;
    }

    .h2 {
        font-size: 1rem;
    }

    .p:last-child {
      font-size: 0.5rem;
    }

}